
:root {
    --background-color: #ffffff;
    --text-color: #000000;
  }
  
  /* Dark Mode */
  [data-theme='dark'] {
    --background-color: #333333;
    --text-color: #ffffff;
  }
  
  /* Aplicando variáveis de cor */
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  /* Estilizando o botão de switch */
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  